# ============================================================
# GIT
# ============================================================
.git/

# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================================
# JUPYTER
# ============================================================
.ipynb_checkpoints/

# ============================================================
# VS CODE
# ============================================================
.vscode/

# ============================================================
# DADOS GRANDES
# ============================================================
dados/*.csv

# ============================================================
# RESULTADOS GERADOS
# ============================================================
resultados/

# ============================================================
# AMBIENTES VIRTUAIS LOCAIS
# ============================================================
.venv/
venv/
