# ============================================================
# DATASETS
# ============================================================

# Ignore dataset files
data/**/*.csv
data/**/*.parquet
data/**/*.feather

# Allow TXT files
!data/**/*.txt

# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================================
# JUPYTER
# ============================================================
.ipynb_checkpoints/

# ============================================================
# LOCAL VIRTUAL ENVIRONMENTS
# ============================================================
.venv/
venv/

# ============================================================
# SYSTEM
# ============================================================
.DS_Store
Thumbs.db