# ============================================================
# BASES DE DADOS
# ============================================================

# Ignorar arquivos pesados das bases
dados/**/*.csv
dados/**/*.parquet
dados/**/*.feather

# Permitir o arquivo com o link do Kaggle
!dados/dados_primarios/kaggle_link.txt

# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================================
# JUPYTER
# ============================================================
.ipynb_checkpoints/

# ============================================================
# AMBIENTES VIRTUAIS LOCAIS
# ============================================================
.venv/
venv/

# ============================================================
# SISTEMA
# ============================================================
.DS_Store
Thumbs.db
