# ============================================================
# BASES DE DADOS
# ============================================================
dados/**/*.csv
dados/**/*.parquet
dados/**/*.feather

# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================================
# JUPYTER
# ============================================================
.ipynb_checkpoints/

# ============================================================
# AMBIENTES VIRTUAIS LOCAIS
# ============================================================
.venv/
venv/

# ============================================================
# SISTEMA
# ============================================================
.DS_Store
Thumbs.db
